/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222 /* Match the navbar's background color */ !important;
}

/* Section Visibility */
.d-none {
  display: none;
}
